
$bodyColor: cornsilk;

$blockOrange: #e68f0f;
$backGroundOrange:rgba(233, 171, 88, 0.5);
$pOrange:#e65a19;
$textOrange: #d9480f;

$backToggleButton: #dfdfdf;
$notActiveToggle: #777777;
$shadowColor: #404040;